body {
    background-image: url(../assets/bgtexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face{
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Italic.otf);
}
.navFont{ 
    color: #5F002B;
    font-size: 30px;
    font-family: Montauk-Bold;
}
.menuFont{
    color: #5F002B;
    font-size: 60px;
    font-family: Montauk-Bold;
}
.menuISize{
    width: 100%;
    height: auto;
}
.menuFont2{
    margin-left: 40px;
    color: #5F002B;
    font-family: Montauk-Bold;
}
.menuFont3{
    margin-left: 40px;
    margin-right: 20px;
    color: #5F002B;
    font-family: Montauk-Light;
}
.menuBorder{
    border-bottom: 1px solid #5F002B;
}
.menuFont4{
    margin-left: 40px;
    color: #5F002B;
    font-family: Montauk-Light;
}
.pTop{
    padding-top: 100px;
}
@media (max-width: 768px){}
.imgfoot{
    width: 40%;
}
.footfont{
    color: #5F002B;
}
.priceColor{
    color: #5F002B;
}