@font-face {
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: Fugaz-One;
    src: url(../fonts/FugazOne-Regular.ttf);
}

body {
    background-image: url(/assets/bgtexture.jpg);
    margin-left: 3rem;
    margin-right: 3rem;
    color: #5F002B;
    font-family: Montauk-Regular;
}

h1 {
    color: #5F002B;
     font-family: Montauk-Bold;
}

p {
    color: #5F002B;
     font-family: Montauk-Regular;
}

.nav-item {
    font-size: 22px;
    color: #5F002B;
    font-family: Montauk-Italic;

}

.card h1 {
    font-family: Montauk-Bold;
    color: #5F002B;
}

.imgfoot {
    width: 30%;
}

.footfont {
    font-size: 16px;
}

@media (min-width: 1400px) {
    p {
        font-size: 20px;
    }

    .nav-item {
        font-size: 30px;
    }

    

}

@media (max-width: 768px) {
    .imgfoot {
        width: 30%;
    }

    .card h1 {

        font-size: 20px;
    }
}

@media (min-width: 450px) {
    .img-row {
        display: flex;
    }
}