body {
    background-image: url(/assets/bgtexture.jpg);
    margin-left: 3rem; 
    margin-right: 3rem;
    color: #5F002B;
    font-family: Fugaz One;
}

h1 {
    color: #5F002B;
}

p {
    color: #5F002B;
}

.nav-item {
    font-size: larger;
    color: #5F002B;
    font-family: Fugaz One;

} 

.imgfoot{
    width: 30%;
}

.footfont{
    font-size: 16px;
}

@media (min-width: 1400px) {
    p {
        font-size: 20px;
    }

    .nav-item {
    font-size: 30px;
} 
    
}

@media (max-width: 768px){
.imgfoot{
    width: 30%;
}

.card h1 {
    font-size: 20px;
}
}

@media (min-width: 450px) {
    .img-row {
        display: flex;
    }
}