@font-face{
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Italic.otf);
}
@font-face {
    font-family: Fugaz-One;
    src: url(../fonts/FugazOne-Regular.ttf);
}
.bodycon {
    background-image: url(/assets/bgtexture.jpg);
    margin-left: 3rem; 
    margin-right: 3rem;
    color: #5F002B;
}
.bodycon2 {
    background-image: url(/assets/bgtexture.jpg);
    color: #5F002B;
}
.navFont{ 
    color: #5F002B;
    font-family: Fugaz-One;
}
.menuFont{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5F002B;
    font-family: Fugaz-One;
}
.menuISize{
    width: 100%;
    height: auto;
}
.menuFont2{
    margin-top: 20px;
    margin-left: 40px;
    color: #5F002B;
    font-family: Fugaz-One;
}
.menuFont3{
    margin-left: 40px;
    margin-right: 20px;
    color: #5F002B;
    margin-bottom: 0%;
    font-family: Montauk-Light;
}
.menuBorder{
    width: 92%;
    margin: 0 6.3%;
    border-bottom: 1px solid #5F002B;
}
.borderPad{
    margin-bottom: 40px;
}
.menuFont4{
    margin-left: 40px;
    color: #5F002B;
    font-family: Montauk-Light;
}
.priceColor{
    font-family: Montauk-Light;
    font-size: 30px;
    color: #5F002B;
}
.pTop{
    padding-top: 100px;
}
h1 {
    color: #5F002B;
}

p {
    color: #5F002B;
}

.imgfoot{
    width: 30%;
}

.footfont{
    font-size: 20px;
}

.imgcon{
    width: 100%;
    height: auto;
}
.imgCover{
    object-fit: cover;
}
.tc-biege{
    color: #5F002B;
    font-family: Montauk-Regular;
    
}
.htc-biege{
    color: #5F002B;
    font-family: Fugaz-One;
    
}
.fontsize{
    font-size: 10px;
}
.imgPad{
    margin-right: 350px;
}
.imgPad2{
    margin-left: 350px;
}
.imgM{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgfoot{
    width: 20%;
}
.footfont{
    font-size: 14px;
    font-family:Montauk-Light;
}
.footPad{
    margin-left: 350px;
}
.footPad2{
    margin-right: 315px;
}
.footPad3{
    margin-right: 350px;
}
.imgG{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
.Pimgcon{
    width: 100%;
    aspect-ratio: 1/1;
}
.photoborder{
    border: 5px solid white;
}
/*MEDIA STARTS HERE*/
@media (min-width: 1200px)
{.fontsize{
    font-size:  15px;
}
}
@media (max-width: 768px){
    .imgG{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
.imgfoot{
    width: 30%;
}
}
@media (max-width: 450px)
{
.fontsize{
    font-size:  13px;
}

.imgG{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
}
@media (min-width: 450px){
.img-row {
    display: flex;
}
}
.imgSize{
    width: 50%;
}

@media (min-width: 780px) {
    .container1 {
    flex-direction: column;
    } 
}
@media (min-width: 1900px){
    .bodycon{
    margin: 0 0;
    background-image: url(/assets/bgtexture.jpg);
}
.imgG{
    display: grid;
    grid-template-columns: repeat(4,398px);
    grid-template-rows: auto;
    gap: 15px;}
.Pimgcon{
    width: 100%;
    aspect-ratio: 1/1;
}
.bodycon{
    margin-left: 10rem;
    margin-right: 6rem; 
    background-image: url(/assets/bgtexture.jpg);
}
.htc-biege{
color: #5F002B;
font-family: Fugaz-One;
font-size: 50px;
}
.tc-biege{
    font-size: 20px;
}
.footfont{
    color: #5F002B;
    font-size: 20px;
    font-family:Montauk-Light;}
.photoborder{
    border: 10px solid white;
}
}
.homeFix{
    margin-top: 12px;
}