body {
    background-image: url(/assets/bgtexture.jpg);
    margin-left: 3rem; 
    margin-right: 3rem;
    color: #5F002B;
}

h1 {
    color: #5F002B;
}

p {
    color: #5F002B;
}

.imgfoot{
    width: 30%;
}

.footfont{
    font-size: 10px;
}

@media (max-width: 768px){
.imgfoot{
    width: 30%;
}
}

@media (min-width: 450px) {
    .img-row {
        display: flex;
    }
}