@font-face{
    font-family: Montauk-Bold;
    src: url(../fonts/Montauk-Bold.otf);
}
@font-face {
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: Montauk-Light;
    src: url(../fonts/Montauk-Light.otf);
}
@font-face {
    font-family: Montauk-Italic;
    src: url(../fonts/Montauk-Italic.otf);
}

.imgcon{
max-width: 100%;
height: auto;
}
body{
    margin-left: 3rem;
    margin-right: 3rem;
    background-image: url(/assets/bgtexture.jpg);
}
.tc-biege{
color: #5F002B;
font-family: Montauk-Regular;

}
.htc-biege{
color: #5F002B;
font-family: Montauk-Italic;

}
.fontsize{
    font-size: 10px;
}
.imgM{
max-width: 100%;
height: 100%;
object-fit: cover;
}
.imgfoot{
    width: 20%;
}
.footfont{
    font-size: 14px;
    font-family:Montauk-Light;
    color: #5F002B;
}
.imgG{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
.Pimgcon{
    width: 100%;
    border: 5px solid white;
}

/*@MEDIA STARTS HERE*/
@media (max-width: 768px){
    .imgG{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
.imgfoot{
    width: 30%;
}
}
@media (max-width: 450px)
{
.fontsize{
    font-size:  13px;
}
.imgG{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
}


@media (min-width: 1200px){
    body{
    margin: 0 0;
    background-image: url(/assets/bgtexture.jpg);
}
.imgG{
    display: grid;
    grid-template-columns: repeat(4,398px);
    grid-template-rows: auto;
    gap: 15px;}
.Pimgcon{
    width: 100%;
    aspect-ratio: 1/1;
}
body{
    margin-left: 10rem;
    margin-right: 6rem;
    background-image: url(/assets/bgtexture.jpg);
}
.htc-biege{
color: #5F002B;
font-family: Montauk-Italic;
font-size: 50px;
}
.tc-biege{
    font-size: 20px;
}
.footfont{
    color: #5F002B;
    font-size: 20px;
    font-family:Montauk-Light;}
.photoborder{
    border: 10px solid white;
}

}
